@import url("https://fonts.googleapis.com/css2?family=Flavors&family=Poppins:wght@300;400;500&display=swap");

body {
  color: #fffffe;
  background: #111;
  font-family: "Poppins", sans-serif;
}

h1 {
  text-align: center;
  font-family: "Flavors", cursive;
  margin: 1em;
  font-size: 3.5vw;
}
.main-content {
  width: 80%;
  margin: auto;
}

.card {
  background: #222;
  border: 1px solid #f25f4c;
  color: #fffffe;
  margin-bottom: 2rem;
}

.card-subtitle,
.card-text {
  color: #a7a9be;
}

.btn {
  border: 5px solid;
  text-decoration: none;
  transition: all 0.4s ease;
  background-color: #ff8906;
}

.btn:hover,
.btn:focus {
  border: 5px solid #fff;
  box-shadow: #222 1px 0 10px;
  text-decoration: underline;
}

@media screen and (min-width: 400px) {
  h1 {
    font-size: 45px;
  }
}
