@import url("https://fonts.googleapis.com/css2?family=Flavors&family=Poppins:wght@300;400;500&display=swap");

body {
  color: #2d334a;
  background: #eff0f3;
  font-family: "Poppins", sans-serif;
}

h1 {
  text-align: center;
  font-family: "Flavors", cursive;
  margin: 1em;
  font-size: 4vw;
}
.main-content {
  width: 80%;
  margin: auto;
}

.card {
  background: #d2e1ec;
  border: 1px solid #272343;
  color: #272343;
  margin-bottom: 2rem;
}

.card-subtitle,
.card-text {
  color: #2d334ad3;
}

.img-cont img {
  height: 70%;
}

.btn {
  border: 5px solid;
  text-decoration: none;
  transition: all 0.4s ease;
  background-color: #ff8e3c;
  color: #272343;
}

.btn:hover,
.btn:focus {
  border: 5px solid #fff;
  box-shadow: #222 1px 0 10px;
  text-decoration: underline;
}
